.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .username {
    font-weight: 700;
    color:#e84a5f;
    font-size: 20px;
  }
  
  .button {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: black;
    border: 2px solid blueviolet;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  
  &:hover,
    &:focus {
    text-shadow: 3px 3px 20px #ff3cac, -2px 1px 30px #ff3cac;
    border: 2px solid #ff3cac;
  } 
}
  .button.active {
    border: 2px solid #ff3cac;
  } 